body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(backg.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
@media only screen and (max-width: 1600px) {
body {
background-color: green;
opacity:0;
}
.verticle{
    opacity:1;
}
}
.title{
    color: #fff;

}
.utitle{
    font-size:400px;
}
.img-preview {
    width: 450px;
    height: 450px;
    position: relative;
    border: 1px solid palevioletred;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

/* input[type="file"] {
    display: none;
} */

/* .upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #e22e61;
    border: 2px solid palevioletred;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    box-shadow: 1px 1px 1px palevioletred;
} */

/* .upload-label:hover{
    background: white;
    color: #e22e61;
    border:none;
} */

.loader {
    border: 18px solid palevioletred; /* Light grey */
    border-top: 18px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn{
    width: 100px;
    height: 50px;
    padding:0;
    background-color:white;
    color:black;
    margin:0;
    margin-right:12px

}
.vertical {
    border-left: 2px solid white;
    height: 600px;
    position:absolute;
    left: 53%;
    opacity: 0.6;
}
.container{
    color:white;
    max-width: 11400px;
    margin-left: 0;
    margin-right:0;
}
.info {
    margin-left:150px;
    font-family: sans-serif;
    height:600px;
    width:600px;
    text-align:center;
    float:left;
}
.info h2{

    font-size: 42px;
}
.info p{

    font-size: 25px;
}
.imgsec
{
    float:right;
    margin-right:500px;
    height:200px;
    width:200px;
}

.img-preview
{
    border: 2px solid white;
}
.image-hidden
{
    height:100px;
    width:100px;
    border: 2px solid white;
    background-color:white;
}
.btn:hover{
    background-color: transparent;
    transition: all .4s;
    border: 2px solid white;
    color:white;
    object-fit: cover;
    
}
.info img{
    margin-top:50px;
}